* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(270, 20%, 96%);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  display: flex;
  flex-direction: column;
  width: 210px;
  max-height: 100%;
  height: 450px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  margin-bottom: 40px;
}

.phone-header {
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 20px 20px 8px 8px;
  width: 100%;
  height: 60px;
}

.phone-header-camera {
  background-color: white;
  height: 20px;
  width: 130px;
  margin: auto;
  border-radius: 0px 0px 30px 30px;
}

.phone-header-description {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.phone-header-left {
  display: flex;
  width: 65%;
  justify-content: space-around;
}

.uil-ellipsis-v {
  margin-right: 15px;
}

.phone-header-description .uil-angle-left {
  font-size: 20px;
}

.phone-header-description img {
  width: 25px;
  border: 1px solid white;
  border-radius: 50px;
}

.name {
  font-size: 12px;
}

.availability {
  font-size: 8px;
  color: lightgray;
}

.phone-body {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
  border-radius: 0px 0px 20px 20px;
  background-color: hsl(270, 20%, 96%);
}

.phone-body .message {
  font-size: 8px;
  display: inline-block;
  margin-top: 7px;
}

.phone-body .left p {
  background-color: hsl(0, 14%, 91%);
  color: hsl(276, 55%, 52%);
  border-radius: 10px 10px 10px 5px;
  padding: 7px;
  margin-left: 10px;
}

.phone-body .right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pictures {
  margin-top: 7px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pictures img {
  width: 38px;
  margin-right: 10px;
  border-radius: 10px;
}

.phone-body .right p {
  background-color: white;
  border-radius: 10px 10px 5px 10px;
  padding: 7px;
  margin-right: 10px;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin-left: 10px;
  margin-top: 7px;
  color: white;
  background-image: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  padding: 7px;
  border-radius: 10px 10px 10px 5px;
}
.payment-left {
  display: flex;
  align-items: center;
  width: 80%;
}

.payment-left i {
  color: hsl(270, 20%, 96%);
}

.payment p {
  font-size: 8px;
  margin-left: 5px;
}

.payment .amount {
  font-size: 14px;
  font-weight: 700;
}

.type-message {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  width: 90%;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type-message p {
  font-size: 10px;
  color: lightgray;
  margin-left: 15px;
}

.type-message .send {
  width: 30px;
  height: 30px;
  background-color: hsl(271, 36%, 24%);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 100px;
}

.type-message .send i {
  color: white;
}

.description-head,
.description-text {
  text-align: center;
}

.description-head {
  color: hsl(271, 36%, 24%);
  margin-bottom: 20px;
  font-weight: 500;
}

.description-text {
  color: hsl(270, 7%, 64%);
  font-size: 14px;
  width: 70%;
  margin: auto;
  font-weight: normal;
}

.purpleBody {
  background-image: linear-gradient(
    to top left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  width: 50%;
  height: 400px;
  align-self: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 0 1000px 0px;
}

.greybody {
  background-color: hsl(0, 14%, 91%);
  width: 50%;
  height: 400px;
  align-self: flex-start;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 1000px 0px 0px 0px;
}

@media only screen and (min-width: 1000px) {
  body {
    flex-direction: row;
  }

  .description {
    margin-left: 100px;
  }

  .description-head {
    text-align: left;
  }

  .description-text {
    width: 400px;
    text-align: left;
  }

  .purpleBody {
    width: 25%;
    border-radius: 0 0 1000px 1000px;
    height: 550px;
  }

  .greybody {
    width: 25%;
    height: 550px;
  }
}
